html, body {
  height: 100%;
  background-color: white;
  text-align: center;
}
#droparea {
  height: 60%;
  margin: 5%;
  border: dashed gray 10px;
  color: gray;
  border-radius: 55px;
}
#droparea.hover {
  height: 60%;
  margin: 5%;
  border: dashed black 10px;
  color: black;
}
#droparea p {
  text-align: center;
  font-size: 50px;
}
#myChart {
  width: 85%;
  height: 75%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#clear {
  position: absolute;
  right: 0;
  top: 0;
}